body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: #fd0ce9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .flipped {
    background-color: navy ;
    color: #f0f0f0;
  }
  
  .hidden {
    display: none;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ea00ff;
    color: rgb(20, 1, 1);
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  